;Database Settings
db_host='localhost'
db_user='root'
db_password=''
db_name='tianguiscabal'

;Language Settings
default_language='en'

;Loging Settings
;Valid options are text, web, both, none
log_level='web'
log_file='../tmp/log.csv'

;Might relative to document root path (/tianguiscabal), in a server where
;"public" is visible in http://domain/, leave it empty
;used in conjuction with RewriteBase in .htaccess
base_url='/tianguiscabal'