; Database Configuration
db_host = 'localhost'
db_user = 'tc_dbuser'
db_password = 'somecoolpass'
db_name = 'tianguiscabal'

; Language configuration
defalut_language = 'es_MX'

; Timezone
timezone = 'America/Mexico_City'
