#Basic Rewrite Rules
<IfModule mod_rewrite.c>
  RewriteEngine on
  
  #In your local config you might need to reconfig this, by example lets say that
  #your local _public_ dir is viewable by: http://localhost/path/to/tianguiscabal/
  #then your rewrite base would be: /path/to/tianguiscabal/
  #in a server where "public" is visible directly in http://domain/, leave this as '/'
  #Used in conjunction with web_root in config.ini
  RewriteBase /path/to/tianguiscabal/
  
  #These rules exclude real files and directories from the rewriting and lets them
  #pass through unaffected:(uncomment IF NEEDED).
  #RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteCond %{REQUEST_FILENAME} !-d
  
  #Extend this list as you need more files to be directly accesible trought Apache
  RewriteRule !\.(js|ico|txt|gif|jpg|png|css|svg|xml)$ front_controller.php
</IfModule>